body{
    margin: 0;
    padding: 0;
    background-color: #202124;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    z-index: 100;
}

#head{
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    font-size: 25pt;
    color: white;
    border-bottom: 4px #555555 solid;
    background-color: #202124;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
#logo{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    text-shadow: black 1px 1px, 
                black -1px -1px, 
                black -1px 1px, 
                black 1px -1px;
}

#logo>i{
    text-shadow: black 1px 1px, 
                black -1px -1px, 
                black -1px 1px, 
                black 1px -1px,
                red 5px 5px;
}

#button{
    cursor: pointer;
}

.center{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

#search{
    justify-content: flex-end;
}

#content{
    position: relative;
    margin: 15px auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    transition: 1s all;
}

.box {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: #a5bbdd;;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, 0.2);
    background: darken(#eff3f9,20%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 300px;
    min-height: 400px;
}

.box .icon{
    width: 150px;
}

.wave {
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 4;
}

.location {
    text-align: center;
    font-weight: 800;
}

.location::first-letter{
    text-transform: uppercase;
}

.date {
    text-align: center;
    margin-top: 5%;
    color: lighten(grey, 10%);
    font-size: 70%;
}

.temp {
    font-size: 20pt;
    margin-top: 10%;
    text-align: center;
}

.weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

#Forecast{
    color: white;
    position: fixed;
    background-color: #202124;
    border-bottom-right-radius: 15px;
    border-bottom: solid #505050;
    border-right: solid #505050;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    min-height: 300px;
    z-index: 50;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    text-align: center;
}

#Forecast .icon-trash-empty{
    font-size: 20pt;
    bottom: 0;
    right: 0;
    position: absolute;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color: black;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.hidden{
    display: none;
}

#close{
    cursor: pointer;
}