body{
    background-color: #eee;
}

.lightbox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.lightbox>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightboxOFF{
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.0);
}

.lightboxOn{
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}

.lightboxOn>div{
    transition: all 0.6s;
    transform: scale(1);
}

.lightboxOFF>div{
    transition: all 0.6s;
    transform: scale(0);
}

.lightbox>img{
    max-width: 80%;
    max-height: 80%;
}

.prev{
    font-size: 40pt;
    background-color: black;
    color: white;
    cursor: pointer;
}

.next{
    font-size: 40pt;
    background-color: black;
    color: white;
    cursor: pointer;
}